<!-- Footer -->
<footer class="mt-auto bg-dark text-white pt-4 pb-4">

  <!-- Footer Links -->
  <div class="container-fluid text-start text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-5 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase text-center fs-1">Rails Crypto</h5>
        <%# <p class="text-center"> organize your footer content.</p> %>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">company</h5>

        <ul class="list-unstyled">
          <li>
            <%= link_to "About Us", subhome_about_path, class:"text-decoration-none" %>
          </li>
          <li>
            <a href="#!" class="text-decoration-none">Term of use</a>
          </li>
          <%# <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li> %>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">support</h5>

        <ul class="list-unstyled">
          <li>
            <a href="readme" class="text-decoration-none">FAQ</a>
          </li>
          <li>
            <a href="#!" class="text-decoration-none" target="_blank">Request form</a>
          </li>
          <%# <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li> %>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Social</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-decoration-none" target="_blank">Facebook</a>
          </li>
          <li>
            <a href="#!" class="text-decoration-none" target="_blank">Twitter</a>
          </li>
          <li>
            <a href="https://github.com/NguyenTungSon0503/RailsCrypto" class="text-decoration-none" target="_blank">Git Hub</a>
          </li>
          <%# <li>
            <a href="#!">Link 4</a>
          </li> %>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <br/>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022
    <a> RailsCrypto. All rights reserved</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->