<%= render @crypto %>
<div>
  <%= button_to "Edit this crypto", edit_crypto_path(@crypto), method: :get, class: "btn btn-success" %> 
  <%= button_to "Delete this crypto", @crypto, method: :delete, data: {confirm: "Are u sure?"}, class: "btn btn-danger" %>
  <%= link_to "Back to portfolio", cryptos_path,class: "btn btn-primary" %>
</div>
